h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --second-background: #2f303a;
  --team-background: #f5f4fa;
  --btn-active-background: #188ce8;
  --nav-color: #212121;
  --main-color: #ffffff;
  --second-color: #2196f3;
  --light-theme: #000000;
  --tel-link-color: #757575;
  --border-color: #eeeeee;
  --footer-link: rgba(255, 255, 255, 0.6);
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  background: var(--main-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
  margin-top: 20px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*===========COMPONENT==========*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.web {
  color: var(--second-color);
}

.logo-light-theme {
  color: var(--light-theme);
}

.logo-dark-theme {
  color: var(--main-color);
}

.modal-btn {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--main-color);
  background: var(--second-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--main-color);
  background: var(--btn-active-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-color);
}
/*===========END COMPONENT==========*/

/*===========HEADER==========*/
.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.container {
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.items-link {
  display: flex;
  align-items: center;
}
.items {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.item:not(:last-child) {
  margin-right: 50px;
}

.item-link {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--nav-color);
}
.item-link:hover,
.item-link:focus {
  color: var(--second-color);
}
.current {
  color: var(--second-color);
}
.tel {
  margin-left: 50px;
}

.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tel-link-color);
}
.foot-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--footer-link);
}
.foot-link:hover,
.foot-link:focus {
  color: var(--second-color);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--second-color);
}

/*===========END HEADER=========*/

/*===========HERO==========*/
.hero {
  display: flex;
  align-items: center;
  background-color: var(--second-background);
  text-align: center;
  color: var(--main-color);
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/overlay/overlay.jpg');
}
.hero .container {
  padding: 200px 0px;
  text-align: center;
  max-width: 696px;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}

/*===========FEATURES==========*/
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-lists {
  display: flex;
  align-items: center;
}

.features-list {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-color);
}

.features-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--tel-link-color);
}
/*===========END FEATURES==========*/

/*===========DOING==========*/
.doing {
  padding-bottom: 94px;
}
.doing-lists {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.doing-items {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 50px;
}
/*===========END DOING==========*/

/*===========OUR TEAM==========*/
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-background);
}

.team-lists {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
  text-align: center;
}
.team-list {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 50px;
}
.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-color);
}
.desc {
  padding: 30px;

  background: var(--main-color);
  border-radius: 0px 0px 4px 4px;
}
.team-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--tel-link-color);
}
/*===========END OUR TEAM==========*/

/*===========OUR CLIENT==========*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -50px;
  margin-left: -30px;
}
.client {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 50px;
  content: '';
  height: 90px;
  background: var(--main-background);
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

/*===========FOOTER==========*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background);
}

.contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.contact-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.contact-item:not(:last-child) {
  margin-bottom: 9px;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--second-color);
}
/*=========== END FOOTER==========*/

/*===========PORTFOLIO MENU==========*/
.portfolio-menu {
  padding-top: 94px;
  padding-bottom: 94px;
}
.btn-lists {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
  justify-content: center;
}

.portfolio-lists {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 20px;
}
.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 20px;
}
.portfolio-text {
  padding: 20px 24px;
  background: var(--main-color);
  border: 1px solid var(--border-color);
  border-top: none;
}
.btn {
  min-width: 84px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--team-background);
  color: var(--nav-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
}
.btn:hover,
.btn:hover {
  background-color: var(--second-color);
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--nav-color);
}

.portfolio-desc {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--tel-link-color);
}
.portfolio-link {
  display: block;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
